*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --primary: #4CAF50;
  --white: #fff;
  --dark: #222;
  --seafoam: #9FE2BF;
  --red: rgb(255, 0, 0);
  --shadow: #0000004d;
}

.container{
  max-width: 1300px;
  padding: 2rem;
  margin: auto;
}

.flex{
  display: flex;
  justify-content: space-between;
  justify-items: center;
}
.center-vertical{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul{
  list-style: none;
}

li{
  display: inline-block;
}

a{
  text-decoration: none;
  color: gray;
}

img{
  width: 100%;
  object-fit: cover;
}