.about-description{
    margin-bottom: 3rem;
    width: 45%;
}
.heading{
    margin-bottom: 0.5em;
}
.desc{
    letter-spacing: 0.5px;
}
.info-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0.7cd rem;
}

.items span{
    width: 80px;
    margin-right: 1rem;
}
.items span i{
    font-size: 70px;
}

.about-info{
    padding: 1rem 0;
}
.article h2{
    margin-bottom: 1rem;
}
.about-img{
    width: 50%;
}